<header>
	<div class="center">
		<div class="cont-logo">
			<a href="{{ path('home') }}" class="logo">Buaiz Leilões</a>
		</div><!-- / END Logo -->

		<nav>
			<div class="btnMenu">
			    <div class="bar1"></div>
			    <div class="bar2"></div>
			    <div class="bar3"></div>
			</div>

			<div class="auth-mobile">
			    <ul>
			        <li class="cadastro"><a href="{{ path('cadastro') }}">Cadastro</a></li>
			        <li class="login"><a href="{{ path('login') }}">Login</a></li>
			    </ul>
			</div>

			<ul class="menu">
				<li class="home"><a href="{{ path('home') }}">Home</a></li>
				<li class="leiloeiro"><a href="{{ path('leiloeiro') }}">Leiloeiro</a></li>
				<li class="leiloes"><a href="{{ path('leiloes') }}">Leilões</a></li>
				<li class="duvidas"><a href="#">Dúvidas</a></li>
				<li class="contato"><a href="{{ path('contato') }}">Contato</a></li>
				<li class="documento"><a href="#">Meu documento chegou?</a></li>

				<div class="auth">
					<li class="cadastro"><a href="#">Cadastro</a></li>
					<li class="login"><a href="#">Login</a></li>
				</div><!-- / END Auth -->
			</ul>
		</nav><!-- / END Menu -->
	</div><!-- / END Center -->
</header>