{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <main class="banner loading">
        <div class="center" style="overflow: hidden;">
            <div class="slide-home">
                {% for banner in banners %}
                <div class="item">
                    <a href="{{ banner.link }}"><img src="{{ banner.image.full.url }}" alt=""></a>
                </div><!-- END Único -->
                {% endfor %}
            </div>
        </div>
    </main><!-- END Banners -->

    <section class="cont-leiloes">
        <div class="center">
            <nav class="navAba">
                <ul>
                    <li>
                        <a class="ativo">Leilões Atuais</a>
                    </li>
                    <li class="print">
                        <a href="{{ path('print_leiloes') }}" target="_blank"><i class="fa fa-print"></i> Imprimir leilões atuais</a>
                    </li>
                    {#<li>
                        <a>Leilões Encerrados</a>
                    </li>#}
                </ul>
            </nav>
        </div><!-- / END Center -->

        <div class="show-leiloes">
            <div class="center">
                <div class="abaContainer">
                    <div class="item-aba ativo">
                        <div class="flex-leiloes">
                            <div class="agenda-leiloes">
                                {% for leilao in leiloesAtuais %}
                                    {{ include('default/includes/inc.leilao-tab.html.twig', {leilao: leilao, _loop: loop}, with_context = false) }}
                                {% endfor %}
                                {% if not leiloesAtuais|length %}
                                    <div class="m-b-lg">Nenhum leilão</div>
                                    <div class="clearfloat"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div><!-- END Atuais -->
                    {#<div class="item-aba">
                        <div class="flex-leiloes">
                        </div>
                    </div><!-- END Encerrados -->#}
                </div>
            </div><!-- / END Center -->
        </div>
    </section><!-- / END Leilões -->

    <section class="cont-destaques">
        <div class="center">
            <h2>Destaques</h2>

            <div class="flex-destaques">
                {% for lote in lotes %}
                    {% set thumb = lote.foto and lote.foto.min ? lote.foto.min.url : asset('build/images/sem-foto.jpg') %}
                    {% set loteUrl = path('lote', {id: lote.id, slug: lote.slug}) %}
                    <article>
                        <a class="home-lote-destaque" href="{{ loteUrl }}">
                            <div class="left lote-image-home">
                                <div class="cont-foto lote-image">
                                    <div class="image"
                                         style="background-size: cover; background-position: 50% 50%; background-image: url({{ thumb }}); background-repeat: no-repeat"></div>
                                </div>
                            </div>
                            <div class="right">
                                {% for foto in lote.fotos|slice(1, 2) %}
                                    <div class="cont-foto lote-image-home-min foto-{{ loop.index+2 }}">
                                        <div class="image"
                                             style="background-size: cover; background-position: 50% 50%; background-image: url({{ foto.versions.min.url }}); background-repeat: no-repeat"></div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="cont-info home-lote-title">
                                <h3>{{ lote.titulo }}</h3>
                                <span>Leilão <strong>{{ lote.leilao.dataAbertura|date('d/m/Y H:i') }}</strong></span>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div><!-- / END Center -->
    </section><!-- / END Destaques -->

    <section class="cont-sobre">
        <div class="row-1">
            <div class="center">
                <h2>{{ textos['pag-leiloeiro-title'].template|striptags }}</h2>
                <p>{{ textos['pag-leiloeiro-subtitulo'].template|striptags }}</p>
            </div><!-- / END Center -->
        </div>
        <div class="row-2">
            <div class="center">
                <ul class="mvv">
                    <li>
                        <div class="cont-icon">
                            <img src="{{ asset('build/images/icon-missao.png') }}" alt="">
                        </div>

                        <h4>Missão</h4>
                        <p>{{ textos['missao'].template|striptags }}</p>
                    </li><!-- END Missão -->

                    <li>
                        <div class="cont-icon">
                            <img src="{{ asset('build/images/icon-visao.png') }}" alt="">
                        </div>

                        <h4>Visão</h4>
                        <p>{{ textos['visao'].template|striptags }}</p>
                    </li><!-- END Visão -->

                    <li>
                        <div class="cont-icon">
                            <img src="{{ asset('build/images/icon-valores.png') }}" alt="">
                        </div>

                        <h4>Valores</h4>
                        <p>{{ textos['valores'].template|raw }}</p>
                    </li><!-- END Valores -->
                </ul>
            </div><!-- / END Center -->
        </div>
    </section><!-- / END Sobre -->
    <div class="clearfloat"></div>
{% endblock %}