{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ sl.nome_site }}</title>
{% endblock %}

{% block metas %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="show-vender">
    <div class="center">
    <div class="busca-container busca-invalida">

        <h3 style="margin-top: 50px; text-align: center; display: block">Busque no site</h3><br><br>

        <form action="{{ path('busca') }}" method="get">
            <input autofocus name="busca" id="busca" class="form-control" />
            <button class="btn btn-success btn-block m-t m-b" style="margin: 10px auto 20px">Buscar</button>
        </form>

    </div>
    </div>
</div>
{% endblock %}
