{% extends 'base.html.twig' %}

{% block title %}
    <title>Leil찾o Encerrado | {{ sl.nome_site }}</title>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#{{ encore_entry_link_tags('favoritos') }}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#{{ encore_entry_script_tags('favoritos') }}#}
{% endblock %}

{% block body %}
    <div class="center-1200 wrapper-lg">
        <br>
        <br>
        <br>
        <h1>Este leil찾o foi encerrado</h1>
        <h2>Confira nossos pr처ximos leil천es <a href="{{ path('leiloes') }}">clicando aqui</a>.</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}