{% if _loop is not defined %}
    {% set _loop = loop %}
{% endif %}
<article>
    <a href="{{ path('leilao', {id:leilao.id}) }}" class="info">
        <span class="data">{{ leilao.dataAberturaOuEncerramento|date('d/m') }} <small>{{ leilao.dataAberturaOuEncerramento|date('H\\hi') }}</small><h6>{{ leilao.dataAberturaOuEncerramento| format_datetime( pattern='EEEE', locale='pt-BR')|capitalize }}</h6></span>
        <h4>{{ leilao.tipoString }}</h4>
        <h3>{{ leilao.judicialString }}</h3>
        <p>{{ leilao.titulo }}</p>
        <ul class="lista-infos">
            {% if leilao.dataPraca2 %}
                <li class="praca{{ leilao.praca == 2 ? ' encerrado' : '' }}">1o leilão:
                    <strong>{{ leilao.dataPraca1|date('d/m/Y H:i') }}</strong></li>
                <li class="praca{{ leilao.isEncerrado ? ' encerrado' : '' }}">2o leilão:
                    <strong>{{ leilao.dataPraca2|date('d/m/Y H:i') }}</strong></li>
            {% else %}
                {% if leilao.dataEncerramento %}
                    <li class="praca">Abertura: <strong>{{ leilao.dataAbertura|date('d/m/Y H:i') }}</strong></li>
                    <li class="praca">Fechamento: <strong>{{ leilao.dataEncerramento|date('d/m/Y H:i') }}</strong></li>
                {% else %}
                    <li class="praca">Leilão único: <strong>{{ leilao.dataPraca1|date('d/m/Y H:i') }}</strong></li>
                {% endif %}
            {% endif %}
        </ul>

        <small class="num-lotes">{{ leilao.totalLotes|number_format }}
            lote{{ leilao.totalLotes > 1 ? 's' : '' }}</small>

        <div class="cont-btn">
            <div class="btn-leilao btn-status-{{ leilao.status }}">
                <span>{{ leilao.statusMessage }}</span>
            </div>
        </div>
    </a>
</article>