<header>
    <div class="center">
        <div class="cont-logo">
            <a href="{{ path('home') }}" class="logo" style="background-image: url({{ '"'~asset('client/'~CLIENT~'/logo-color.png')~'"' }})">{{ sl.nome_leiloeiro }}s</a>
        </div><!-- / END Logo -->

        <nav>
            <div class="btnMenu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <div class="auth-mobile">
                <ul>
                    <li class="cadastro show-logged">
                        <div class="logged-in-menu">
                            <small>Olá, <strong id="logged-username">{{ app.request.cookies.get('sl_session-person') }}</strong>!</small>
                        </div>
                    </li>
                    <li class="login show-logged">
                        <a class="text-primary" href="{{ path('conta') }}">Minha conta</a>
                    </li>
                    <li class="cadastro hide-logged"><a href="{{ path('cadastro') }}">Cadastre-se</a></li>
                    <li class="login hide-logged"><a href="{{ path('login') }}">Login</a></li>
                </ul>
            </div>

            <ul class="menu">
                <li class="home"><a href="{{ path('home') }}">Home</a></li>
                <li class="leiloes"><a href="{{ path('leiloes') }}">Leilões</a></li>
                <li class="leiloeiro"><a href="{{ path('leiloeiro') }}">Leiloeiro</a></li>
                <li class="funcionamento"><a href="{{ path('funcionamento') }}">Dúvidas</a></li>
                <li class="contato"><a href="{{ path('contato') }}">Contato</a></li>
                <li class="documento" {% if DESATIVAR_DOCUMENTO_CHEGOU %} style="visibility: hidden"{% endif %}><a href="#">Meu documento chegou?</a></li>

                <div class="auth">
                    <li class="cadastro show-logged">
                        <div class="logged-in-menu">
                            <small>Olá, <strong id="logged-username">{{ app.request.cookies.get('sl_session-person') }}</strong>!</small>
                        </div>
                    </li>
                    <li class="login show-logged">
                        <a class="text-primary" href="{{ path('conta') }}">Minha conta</a>
                    </li>
                    {#<li class="show-logged"><a class="btn btn-danger btn-xs btn-logout" href="{{ path('api_logout') }}">Sair</a></li>#}

                    <li class="cadastro hide-logged"><a href="{{ path('cadastro') }}">Cadastre-se</a></li>
                    <li class="login hide-logged"><a href="{{ path('login') }}">Login</a></li>
                </div><!-- / END Auth -->
            </ul>
        </nav><!-- / END Menu -->
    </div><!-- / END Center -->
</header>
<div class="clearfloat"></div>