{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    {% if textos['aviso-home'].template is not empty %}
    <div class="fixed-post-header">
        <div class="text">
            <p>{{ textos['aviso-home'].template|raw }}</p>
        </div>
    </div>
    {% endif %}
    <section class="cont-banner">
        <div class="slide-home">
            {#<div class="item">
                <div class="cont-img">
                    <a href="#">
                        <img src="{{ asset('build/images/slide/slide1.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>#}
            {% for banner in banners %}
                <div class="item">
                    <a href="{{ banner.link }}"><img width="100%" src="{{ banner.image.full.url }}" alt=""></a>
                </div><!-- END Único -->
            {% endfor %}
        </div>
    </section><!-- / END Banner -->

    {#<section class="section-busca">
        <ul class="navBusca">
            <li>
                <a class="ativo">Próximos Leilões</a>
            </li>

            <li>
                <a>Encerrados</a>
            </li>
        </ul>

        <div class="item-aba ativo">
            <form>
                <div class="p-r">
                    <select>
                        <option value="">Qualquer</option>
                        <option value="">Extrajudicial</option>
                        <option value="">Judicial</option>
                    </select>
                </div>

                <div class="p-r">
                    <select>
                        <option value="">Qualquer</option>
                        <option value="">Veículos</option>
                        <option value="">Imóveis</option>
                        <option value="">Materiais</option>
                    </select>
                </div>

                <div class="p-r">
                    <input type="text" name="" placeholder="Buscar por...">
                </div>

                <div>
                    <button type="submit">Pesquisar</button>
                </div>
            </form>
        </div>

        <div class="item-aba">
            <form>
                <div class="p-r">
                    <select>
                        <option value="">Extrajudicial</option>
                    </select>
                </div>

                <div class="p-r">
                    <select>
                        <option value="">Veículos</option>
                        <option value="">Imóveis</option>
                    </select>
                </div>

                <div class="p-r">
                    <input type="text" name="" placeholder="Marca">
                </div>

                <div>
                    <button type="submit">Pesquisar</button>
                </div>
            </form>
        </div>
    </section>#}

    <section class="cont-busca tabsBusca">
        <div class="center">
            <div class="left">
                <form method="get" action="{{path('busca', {busca: '__BUSCA__'})}}" class="site-form-search">
                    <div class="position-btn">
                        <input type="text" name="busca" id="buscaDefault" placeholder="Buscar no site" tabindex="1">
                        <button type="submit" tabindex="6"><i class="fas fa-search"></i></button>
                    </div>

                    <div>
                        <a href="/categoria/Imóveis">
                            <span>Imóveis</span>
                        </a>
                    </div>

                    <div>
                        <a href="/categoria/Veículos">
                            <span>Veículos</span>
                        </a>
                    </div>

                    <div>
                        <a href="/categoria/Máquinas">
                            <span>Máquinas</span>
                        </a>
                    </div>

                    <div>
                        <a href="/categoria/Diversos">
                            <span>Diversos</span>
                        </a>
                    </div>
                </form>
            </div><!---->

            <div class="right">
                <div class="cont-icon">
                    <img src="{{ asset('build/images/icon-newsletter.png') }}" alt="Nesletter">
                </div><!---->
                <div class="r-newsletter">
                    <p><strong>Inscreva-se</strong> para receber nossos melhores leilões</p>
                    <form>
                        <div>
                            <label for="email">Digite seu e-mail:</label>
                            <input id="email" type="" name="" tabindex="1">
                        </div>
                    </form>
                </div><!---->
            </div><!---->
        </div><!-- / END Center -->
    </section><!-- / END Busca -->

    <section class="cont-destaques">
        <div class="center">

            <ul class="navDestaques navBar">
                <li>
                    <a class="ativo">Destaques</a>
                </li>

                <li>
                    <a>Abertos para lance</a>
                </li>

                <li>
                    <a>Em breve</a>
                </li>

                {#<li>
                    <a>Venda Direta</a>
                </li>

                <li>
                    <a>Suspensos</a>
                </li>

                <li>
                    <a>Encerrados</a>
                </li>#}
            </ul>

            {% if lotes %}
                <div class="showInfos">
                    <div class="item-aba ativo">
                        <div class="slide-destaques">
                            <div class="show-destaques">
                                <div class="left">
                                    {% for lote in lotes|slice(0,1) %}
                                        {% set thumb = lote.foto and lote.foto.min ? lote.foto.min.url : asset('build/images/sem-foto.jpg') %}
                                        {% set loteUrl = path('lote', {id: lote.id, slug: lote.slug}) %}
                                        <article>
                                            <a href="{{ loteUrl }}">
                                                <div class="cont-foto lote-image-home">
                                                    <div class="image lote-image"
                                                         style="background-size: cover; background-position: 50% 50%; background-image: url({{ thumb }}); background-repeat: no-repeat"></div>
                                                    {% if lote.valorAtual %}
                                                        <small>Inicia por
                                                            <strong><span>R$</span> {{ lote.valorAtual|number_format(2, ',', '.') }}
                                                            </strong></small>
                                                    {% endif %}
                                                </div>
                                                <div class="cont-info">
                                                    <h3>{{ lote.titulo }}</h3>
                                                    <span>Leilão <strong>{{ lote.leilao.dataAbertura|date('d/m/Y H:i') }}</strong></span>
                                                </div>
                                            </a>
                                        </article><!-- END Único -->
                                    {% endfor %}
                                </div><!---->

                                <div class="right">
                                    {% for lote in lotes|slice(1,4) %}
                                        {% set thumb = lote.foto and lote.foto.thumb ? lote.foto.thumb.url : asset('build/images/sem-foto.jpg') %}
                                        {% set loteUrl = path('lote', {id: lote.id, slug: lote.slug}) %}
                                        <article>
                                            <a href="{{ loteUrl }}">
                                                <div class="cont-foto">
                                                    <div class="image lote-image"
                                                         style="background-size: cover; background-position: 50% 50%; background-image: url({{ thumb }}); background-repeat: no-repeat"></div>
                                                    <small><strong>R$ {{ lote.valorAtual|number_format(2, ',', '.') }}</strong></small>
                                                </div>
                                                <div class="cont-info">
                                                    <h3>{{ lote.titulo }}</h3>
                                                    <span>Leilão <strong>{{ lote.leilao.dataAbertura|date('d/m/Y H:i') }}</strong></span>
                                                </div>
                                            </a>
                                        </article><!-- END Único -->
                                    {% endfor %}

                                </div><!---->
                            </div>

                            {#<div class="show-destaques">
                                <div class="left">
                                    <article>
                                        <a href="#">
                                            <div class="cont-foto">
                                                <img src="{{ asset('build/images/bem/carro1.jpg') }}" alt="">
                                                <small>Inicia por <strong><span>R$</span> 87.000,00</strong></small>
                                            </div>
                                            <div class="cont-info">
                                                <h3>BMW X6 M 2016/2017, gasolina com IPVA 2020 pago</h3>
                                                <span>Leilão <strong>10/06/2020 14:00</strong></span>
                                            </div>
                                        </a>
                                    </article><!-- END Único -->
                                </div><!---->

                                <div class="right">
                                    <article>
                                        <a href="#">
                                            <div class="cont-foto">
                                                <img src="{{ asset('build/images/bem/carro2.jpg') }}" alt="">
                                                <small><strong>R$ 87.000,00</strong></small>
                                            </div>
                                            <div class="cont-info">
                                                <h3>BMW X6 M 2016/2017, gasolina com IPVA 2020 pago</h3>
                                                <span>Leilão <strong>10/06/2020 14:00</strong></span>
                                            </div>
                                        </a>
                                    </article><!-- END Único -->

                                    <article>
                                        <a href="#">
                                            <div class="cont-foto">
                                                <img src="{{ asset('build/images/bem/moto1.jpg') }}" alt="">
                                                <small><strong>R$ 87.000,00</strong></small>
                                            </div>
                                            <div class="cont-info">
                                                <h3>BMW X6 M 2016/2017, gasolina com IPVA 2020 pago</h3>
                                                <span>Leilão <strong>10/06/2020 14:00</strong></span>
                                            </div>
                                        </a>
                                    </article><!-- END Único -->

                                    <article>
                                        <a href="#">
                                            <div class="cont-foto">
                                                <img src="{{ asset('build/images/bem/carro3.jpg') }}" alt="">
                                                <small><strong>R$ 87.000,00</strong></small>
                                            </div>
                                            <div class="cont-info">
                                                <h3>BMW X6 M 2016/2017, gasolina com IPVA 2020 pago</h3>
                                                <span>Leilão <strong>10/06/2020 14:00</strong></span>
                                            </div>
                                        </a>
                                    </article><!-- END Único -->

                                    <article>
                                        <a href="#">
                                            <div class="cont-foto">
                                                <img src="{{ asset('build/images/bem/carro4.jpg') }}" alt="">
                                                <small><strong>R$ 87.000,00</strong></small>
                                            </div>
                                            <div class="cont-info">
                                                <h3>BMW X6 M 2016/2017, gasolina com IPVA 2020 pago</h3>
                                                <span>Leilão <strong>10/06/2020 14:00</strong></span>
                                            </div>
                                        </a>
                                    </article><!-- END Único -->

                                </div><!---->
                            </div>#}
                        </div>
                    </div><!-- / END Destaques -->

                    <div class="item-aba">
                        Nenhuma bem encontrado.
                    </div><!-- / END Abertos -->

                    <div class="item-aba">
                        Nenhuma bem encontrado.
                    </div><!-- / END Breve -->

                    <div class="item-aba">
                        Nenhuma bem encontrado.
                    </div><!-- / END Direta -->

                    <div class="item-aba">
                        Nenhuma bem encontrado.
                    </div><!-- / END Suspensos -->

                    <div class="item-aba">
                        Nenhuma bem encontrado.
                    </div><!-- / END Encerrados -->
                </div>
            {% endif %}
        </div><!-- / END Center -->
    </section><!-- / END Destaques -->

    <section class="cont-leiloes">
        <div class="center">
            <ul class="navLeiloes navBar">
                <li>
                    <a class="ativo">Próximos leilões</a>
                </li>

                <li>
                    <a>Suspensos</a>
                </li>

                <li>
                    <a>Encerrados</a>
                </li>
            </ul>

            <div class="showInfos">
                <div class="item-aba ativo">
                    <div class="flex-leiloes">
                        {% for leilao in leiloesAtuais %}
                            {{ include("temas/02/includes/inc.leilao-tab.html.twig", {leilao: leilao, _loop: loop}, with_context = false) }}
                        {% endfor %}
                        {% if not leiloesAtuais|length %}
                            <div class="m-b-lg">Nenhum leilão</div>
                            <div class="clearfloat"></div>
                        {% endif %}
                    </div>
                </div><!-- / END >Próximos -->

                <div class="item-aba">
                    Nenhum leilão encontrado.
                </div><!-- / END Suspensos -->

                <div class="item-aba">
                    Nenhum leilão encontrado.
                </div><!-- / END Encerrados -->
            </div>
        </div><!-- / END Center -->
    </section><!-- / END Leiloes -->


    <section class="cont-depoimentos">
        <div class="center">
            <div class="rotate">
                <h2>10 anos de experiência em leilões</h2>

                <div class="flex-depoimentos">
                    <div class="slide-depoimentos">
                        <div class="item">
                            <div class="cont-foto">
                                <img src="{{ asset('build/images/foto.jpg') }}" alt="">
                            </div>

                            <div class="cont-texto">
                                <img src="{{ asset('build/images/icon-depoimento.png') }}" alt="Icon Depoimentos">
                                <p>Aqui deve ficar um texto resumido sobre o leiloeiro e sua Experiência em Leilões.</p>
                                <span>Tiago Felipe</span>
                                <small>Leiloeiro Oficial do Estado de Minas Gerais</small>
                            </div>
                        </div><!---->
                    </div>
                    <div class="mapa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.224978383535!2d-40.76142508582897!3d-20.862980273382167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb919822afb2e6b%3A0x216a7f67342bbf67!2sRod.%20do%20Sol%2C%2029%2C%20Itapemirim%20-%20ES%2C%2029285-000!5e0!3m2!1spt-BR!2sbr!4v1593899420238!5m2!1spt-BR!2sbr"
                                width="100%" height="248" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div><!-- / END Center -->
    </section><!-- / END Depoimentos -->

    <section class="cont-newsletter">
        <form class="" method="post" action="">
            <h3>Receba novidades por E-mail</h3>
            <span>Cadastre seu e-mail abaixo e receba gratuitamente conteúdos exclusivos e todas as novidades do site com prioridade!</span>

            <div class="inputs">
                <div>
                    <input type="" name="email" placeholder="Insira seu e-mail..." required>
                </div>
                <button type="submit">Inscrever-se</button>
            </div>
        </form>
    </section><!-- / END Newsletter -->
    <div class="clearfloat"></div>
{% endblock %}