<article>
    {#<div class="cont-fav">
        <form>
            <button type="submit"><i class="far fa-star"></i></button>
            <span>Adicionar aos Favoritos</span>
        </form>
    </div>
#}
    <a href="{{ path('leilao', {id:leilao.id}) }}">
        <div class="cont-padd">
            <strong class="data">{{ leilao.dataAbertura|date('d/m') }} {{ leilao.dataAbertura|date('H\\hi') }}</strong>
            <h3>{{ leilao.titulo }}</h3>
        </div>

        <div class="logo-leilao">
            <img src="{{ asset('build/images/porto-seguro.png') }}" alt="">
        </div>

        {#<div class="cont-edital">
            <img src="{{ asset('build/images/icon-edital.png') }}"> Acessar Leilão
        </div>#}

        <div class="infos">
            {% if leilao.dataPraca2 %}
            <span class="praca">1o leilão: <strong>{{ leilao.dataPraca1|date('d/m/Y H:i') }}</strong></span>
            <span class="praca">2o leilão: <strong>{{ leilao.dataPraca2|date('d/m/Y H:i') }}</strong></span>
            {% else %}
            <span class="praca">Leilão único: <strong>{{ leilao.dataPraca1|date('d/m/Y H:i') }}</strong></span>
            {% endif %}
            <span class="tipo">Online e Presencial</span>
        </div>
    </a>
</article><!-- END Único -->