<header>
    <div class="center">
        <div class="cont-logo">
            <a href="{{ path('home') }}" class="logo" style="background-image: url({{ '"'~asset('client/milani/logo.png')~'"' }})">{{ sl.nome_leiloeiro }}</a>
            {#<a href="{{ path('home') }}" class="logo-mobile" style="background-image: url({{ '"'~asset('client/'~CLIENT~'/logo-mobile-color.png')~'"' }})">{{ sl.nome_leiloeiro }}</a>#}
        </div>

        <nav>
            <div class="btnMenu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
                    
            <ul class="menu">
                <li class="home"><a href="{{ path('home') }}">Home</a></li>
                <li class="leiloes"><a href="{{ path('leiloes') }}">Leilões</a></li>
                <li class="leiloeiro"><a href="{{ path('leiloeiro') }}">Leiloeiro</a></li>
                <li class="funcionamento"><a href="{{ path('funcionamento') }}">Como Funciona</a></li>
                {#<li class="duvidas"><a href="{{ path('duvidas') }}">Dúvidas</a></li>
                <li class="indique"><a href="{{ path('indique') }}">Indique</a></li>#}
                <li class="vender"><a href="{{ path('quero-vender') }}">Quero Vender</a></li>
                <li class="contato"><a href="{{ path('contato') }}">Contato</a></li>

                <li class="app"><a href="#"><i class="fas fa-mobile"></i> App</a></li>

                <div class="auth">
                    <li class="cadastro show-logged">
                        <small class="logged-in-menu">Olá, <strong id="logged-username">{{ app.request.cookies.get('sl_session-person')|split(' ')|first }}</strong>!</small>
                    </li>
                    <li class="login show-logged">
                        <a class="text-primary" href="{{ path('conta') }}">Minha conta</a>
                    </li>

                    <li class="cadastro hide-logged"><a href="{{ path('cadastro') }}">Cadastre-se</a></li>
                    <li class="login hide-logged"><a href="{{ path('login') }}">Login</a></li>
                </div>
            </ul>
        </nav>
    </div><!-- END Center -->
</header>