<footer>
	<div class="center">
		<div class="cont-colunas">
			<div>
				<h6>Nosso Escritório</h6>
				<ul>
					<li><a href="{{ path('leiloeiro') }}">Sobre Nós</a></li>
					<li><a href="{{ path('leiloes') }}">Leilões</a></li>
					<li><a href="{{ path('funcionamento') }}">Como Participar</a></li>
					<li><a href="{{ path('contato') }}">Fale Conosco</a></li>
				</ul>
			</div><!-- END Col 1 -->

			<div>
				<h6>Atendimento</h6>
				<ul>
					<li>Rua Araguari, 1750, 6º andar Santo Agostinho<div class="break"></div> Belo Horizonte/MG CEP: 30190-111</li>
					<li>(31) 3207-3900 / (31) 99397-3900</li>
					<li>contato@saraivaleiloes.com.br</li>
				</ul>
			</div><!-- END Col 2 -->

			<div>
				<h6>Siga-nos</h6>
				<ul class="lista-social">
					{% if SL_FACEBOOK is not empty %}
					<li>
						<a href="{{ SL_FACEBOOK }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
					</li>
					{% endif %}

					{% if SL_TWITTER is not empty %}
					<li>
						<a href="{{ SL_TWITTER }}" target="_blank"><i class="fab fa-twitter"></i></a>
					</li>
					{% endif %}

					{% if SL_INSTAGRAM is not empty %}
					<li>
						<a href="{{ SL_INSTAGRAM }}" target="_blank"><i class="fab fa-instagram"></i></a>
					</li>
					{% endif %}

					{% if SL_YOUTUBE is not empty %}
					<li>
						<a href="{{ SL_YOUTUBE }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
					</li>
					{% endif %}

					{% if SL_YOUTUBE is not empty %}
					<li>
						<a href="{{ SL_YOUTUBE }}" target="_blank"><i class="fab fa-youtube"></i></a>
					</li>
					{% endif %}

					{% if SL_WHATSAPP is not empty %}
					<li>
						<a href="{{ SL_WHATSAPP }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
					</li>
					{% endif %}
				</ul>

				<div class="show-selo">
					<a href="https://www.suporteleiloes.com/" target="_blank"><img src="{{ asset('build/images/selo.png') }}" alt="Selo Suporte Leilões"></a>
				</div>
			</div><!-- END Col 3 -->
		</div>
	</div><!-- END Center -->

	<div class="copy">
		<div class="center">
			<p style="width: 100%; text-align: center;">&copy; 2020 - {{ sl.nome_leiloeiro }} - Todos os direitos reservados.</p>
			{#<p><a href="">Política de Privacidade</a> & <a href="">Termos de Uso</a></p>#}
		</div><!-- END Center -->
	</div>
</footer>