<header>
	<div class="row-1">
		<div class="center">
			<p><a href="mailto:{{ EMAIL_CONTATO }}">contato@saraivaleiloes.com.br</a> | <a href="tel:{{TELEFONE}}">(31) 3207-3900</a></p>
			<ul class="list-social">
				{% if SL_FACEBOOK is not empty %}
				<li>
					<a href="{{ SL_FACEBOOK }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
				</li>
				{% endif %}

				{% if SL_TWITTER is not empty %}
				<li>
					<a href="{{ SL_TWITTER }}" target="_blank"><i class="fab fa-twitter"></i></a>
				</li>
				{% endif %}

				{% if SL_INSTAGRAM is not empty %}
				<li>
					<a href="{{ SL_INSTAGRAM }}" target="_blank"><i class="fab fa-instagram"></i></a>
				</li>
				{% endif %}

				{% if SL_YOUTUBE is not empty %}
				<li>
					<a href="{{ SL_YOUTUBE }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
				</li>
				{% endif %}

				{% if SL_YOUTUBE is not empty %}
				<li>
					<a href="{{ SL_YOUTUBE }}" target="_blank"><i class="fab fa-youtube"></i></a>
				</li>
				{% endif %}

				{% if SL_WHATSAPP is not empty %}
				<li>
					<a href="{{ SL_WHATSAPP }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
				</li>
				{% endif %}
			</ul>
		</div><!-- END Center -->
	</div><!-- END Row 1 -->

	<div class="row-2">
		<div class="center">
			<div class="cont-logo">
				<a href="{{ path('home') }}" class="logo">{{ sl.nome_leiloeiro }}</a>
			</div>

			<nav>
				<div class="btnMenu">
	                <div class="bar1"></div>
	                <div class="bar2"></div>
	                <div class="bar3"></div>
	            </div>
                    
				<ul class="menu">
					<li class="leiloes">
						<a href="{{ path('leiloes') }}">Leilões</a>
					</li>
					<li class="leiloeiro">
						<a href="{{ path('leiloeiro') }}">Leiloeira</a>
					</li>
					<li class="funcionamento">
						<a href="{{ path('funcionamento') }}">Dúvidas frequentes</a>
					</li>
					<li class="">
						<a href="{{ path('home') }}#newsletter" class="nav-news">Newsletter</a>
					</li>
					<li class="">
						<a href="{{ path('home') }}#blog" class="nav-blog">Blog</a>
					</li>
					<li class="">
						<a href="{{ path('contato') }}">Contato</a>
					</li>
				</ul>
			</nav>

			<div class="cont-auth">
				<ul>
					<li><a href=""><i class="fas fa-mobile-alt"></i> App</a></li>
					<li class="show-logged">
                        <div class="logged-in-menu">Olá, <strong id="logged-username">{{ app.request.cookies.get('sl_session-person')|split(' ')|first }}</strong>!</div>
                    </li>
                    <li class="show-logged">
                        <a class="btn btn-dark text-white btn-xs" href="{{ path('conta') }}">Minha conta</a>
                    </li>
					<li><a href="{{ path('cadastro') }}" class="cadastro hide-logged">Cadastro</a></li>
					<li><a href="{{ path('login') }}" class="hide-logged">Login</a></li>
				</ul>
			</div>
		</div><!-- END Center -->
	</div><!-- END Row 2 -->
</header>