<footer>
    <div class="center">
        <div class="cont-colunas">
            <div class="col">
                <h6>Instagram FEED</h6>
            </div><!-- Col 1 -->

            <div class="col">
                <h6>Youtube FEED</h6>
            </div><!-- Col 2 -->

            <div class="col">
                <h6>Fale Conosco</h6>
                <li>{{ EMAIL_CONTATO }}</li>

                <ul class="lista-social">
                    {% if SL_FACEBOOK is not empty %}
                        <li><a href="{{ SL_FACEBOOK }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    {% endif %}
                    {% if SL_TWITTER is not empty %}
                        <li><a href="{{ SL_TWITTER }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    {% endif %}
                    {% if SL_INSTAGRAM is not empty %}
                        <li><a href="{{ SL_INSTAGRAM }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    {% endif %}
                    {% if SL_LINKEDIN is not empty %}
                        <li><a href="{{ SL_LINKEDIN }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    {% endif %}
                    {% if SL_YOUTUBE is not empty %}
                        <li><a href="{{ SL_YOUTUBE }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    {% endif %}
                    {% if SL_WHATSAPP is not empty %}
                        <li><a href="{{ SL_WHATSAPP }}" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    {% endif %}
                </ul>
            </div><!-- Col 3 -->

            <div class="col">
                <h6>Newsletter</h6>
                <p>Inscreva-se aqui e receba nossos informes sobre os leilões e bens disponíveis. Não perca boas oportunidades!</p>

                <form>
                    <div class="position">
                        <input type="" name="" placeholder="Digite seu melhor e-mail">
                        <button type="submit">Inscrever</button>
                    </div>
                </form>

                <div class="selo">
                    <a href="https://www.suporteleiloes.com" target="_blank"><img src="{{ asset('build/images/selo.png') }}" alt="Selo"></a>
                </div>
            </div><!-- Col 4 -->
        </div>
    </div><!-- / END Center -->
</footer>